<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pizzapulse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Registered Activities -->
        <activity
            android:name=".OrderPlacement"
            android:exported="false" />

        <activity
            android:name=".OrderHistoryActivity"
            android:exported="false" />

        <activity
            android:name=".ViewAddressListActivity"
            android:exported="false" />
        <activity
            android:name=".AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".OrderActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".AddressActivity"
            android:exported="false" /> <!-- LoginActivity as launcher -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other activities -->
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
    </application>

</manifest>
